{% extends 'base.html.twig' %}

{% block title %}Email envoyé{% endblock %}

{% block body %}
    <h1>Vérifiez votre boîte mail !</h1>
    <p>Un lien de confirmation vient d'être envoyé à votre adresse.</p>
    <p>Veuillez cliquer dessus pour activer votre compte.</p>
{% endblock %}
