<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h2 class="fw-light">Prêt à héberger vos équipements ?</h2>
            <p class="lead text-muted">Rejoignez Work Together et concentrez-vous sur votre cœur de métier.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Ouvrir un compte</a>
                <a href="#" class="btn btn-secondary my-2">Nous contacter</a>
            </p>
        </div>
    </div>
</section>